@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer components {
  .logo {
    @apply font-semibold text-sm sm:text-xl text-light uppercase;
  }
  .heading {
    @apply font-semibold text-2xl sm:text-5xl text-light;
  }
  .darkheading {
    @apply font-semibold text-2xl sm:text-5xl text-dark;
  }
  .subheading {
    @apply font-semibold text-xl sm:text-3xl text-light2;
  }
  .darksubheading {
    @apply font-semibold text-xl sm:text-3xl text-dark2;
  }
  .text {
    @apply font-normal text-light sm:text-lg leading-normal;
  }
  .darktext {
    @apply font-normal text-dark sm:text-lg leading-normal;
  }
  .link {
    @apply font-medium text-light text-sm sm:text-base leading-normal hover:text-accent cursor-pointer ease-in duration-100;
  }
  .circle-gradient {
    background-image: radial-gradient(
      circle,
      #150b34,
      #1c1144,
      #241554,
      #2c1a65,
      #351e76
    );
    filter: blur(75px);
    opacity: 15%;
  }
}
